* {
    margin: 0;
    padding: 0;
  }
  .barra{
    display: flex;
    flex-direction: inline;
    align-items: center;
  }
  #quienesomos{
    background-color: rgba(201, 172, 119, 0.671);
    margin: 1rem;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 18%;
    border: solid greenyellow 3px;
  }
  #quienesomos:hover{
    background-color: rgba(247, 227, 137, 0.753);
  }
  #ayuda{
    background-color: rgba(201, 172, 119, 0.671);
    margin: 1rem;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 20%;
    border: solid greenyellow 3px;
  }
  #ayuda:hover{
    background-color: rgba(247, 227, 137, 0.753);
  }
  #inicio{
    background-color: blanchedalmond;
    margin: 1rem;
    display: flex;
    align-items: center;
    height: 4rem;
  }
  #logo{
    height: 100%;
  }
.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    height: auto;
  }
  #titulo {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }




  
  .info {
    background-color: rgb(78, 78, 78);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    
  }